@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  display: grid;
  grid-template-areas:
    "main"
    "footer";
  grid-template-rows: 1fr 6rem;
}

@font-face {
  font-family: "Milker";
  src: url(/fonts/Milker.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.font-milker {
  font-family: "Milker", sans-serif;
}
.animate-enter {
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(200px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.animate-leave {
  animation: fadeOut 0.5s ease forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    transform: translate(200px, 0);
  }
}

.MusicPlayer-volumen {
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  -webkit-appearance: none;
  appearance: none;
  height: 0.5rem;
  outline: none;
  background-color: #fafafa;
  border-radius: 5px;
  transition-duration: 0.15s;
}

.MusicPlayer-volumen::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 0.9rem;
  border-radius: 5px;
  background-color: #fafafa;
}
